extends layout

block content
	.back
		a(href="/")
			img(src="images/back.png")
	#chart-title
		h1(class="insetType")	Occupation with threshold 
			span(style="background-color:#A8C9F2")	#{umbral}
	#chart-left-side-screen
		.button_wrapper(align="center")
			.button_underneath.grey(style="padding-top:10;width:146px;height:15px")
				a(href="/select_frequency?zona=#{zona}&ipt_umbral=#{umbral}", class="button grey", style="width:180;height:18px;padding-top:6px") Select Frequency
		br
		br
		br
		.button_wrapper(align="center")
			.button_underneath.grey(style="padding-top:10;width:146px;height:15px")
				a(href="/select_channel?zona=#{zona}&ipt_umbral=#{umbral}", class="button grey", style="width:180;height:18px;padding-top:6px") Select Channel
		br
		br
		br
		br
		.ipt_font_med(style="padding-left:30px;")
			center Please select a frequency or channel to display a heatmap of zone #{zona}
	#chart-canvas
	script(type='text/javascript').
		
		window.onload = function(){
		
			var local_data =!{JSON.stringify(data)}
			var plot1 = $.jqplot('chart-canvas', [local_data], {
				grid: {
					drawBorder: false,
					shadow: false,
					background: 'rgba(0,0,0,0)'
				},
				
				highlighter: { show: true },
				seriesDefaults: { 
					shadowAlpha: 0.1,
					shadowDepth: 2,
					fillToZero: true
				},
				series: [
					{
						color: 'rgba(198,88,88,.6)',
						negativeColor: 'rgba(100,50,50,.6)',
						showMarker: true,
						showLine: true,
						fill: true,
						fillAndStroke: true,
						markerOptions: {
							style: 'filledCircle',
							size: 5
						},
						rendererOptions: {
							smooth: true
						}
					},
					{
						color: 'rgba(44, 190, 160, 0.7)',
						showMarker: true,
						rendererOptions: {
							smooth: true,
						},
						markerOptions: {
							style: 'filledSquare',
							size: 8
						},
					}
				],
				axes: {
					xaxis: {
						pad: 0,
						tickOptions: {
							showGridline: false
						},
						tickRenderer:$.jqplot.CanvasAxisTickRenderer,
						label:'Frequency in MHz', 
						labelOptions:{
							fontFamily:'Helvetica',
							fontSize: '14pt'
						},
					},
					yaxis: {
						pad: 0,
						labelOptions:{
							fontFamily:'Helvetica',
							fontSize: '14pt'
						},
						label:'<center>Percentage of occupancy</center>'
					}
				}
			});
		}