extends ../layout

block content
	.back
		a(href="javascript:history.back()")
			img(src="images/back_white.png")
	.top-center-screen
		.font(style="font-size:20px;font-weight:100;color:#ffffff")	Threshold #{umbral}, #{type} [#{from},#{to}]Mhz, zone: #{zona}
	.left-side-screen-csv-download
		a(href="/download")
			img(src="images/download_csv_file.png")
	#map-canvas
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
	script(type='text/javascript').

		window.onload = function(){
			// definimos las propiedades del mapa
			var mapOptions = {
				zoom: 13,
				// coordenada donde se centrara el mapa
				center: new google.maps.LatLng(8.575759,-71.190033),
				mapTypeId: google.maps.MapTypeId.SATELLITE,
				
				mapTypeControl: true,
				
				panControl: true,
				panControlOptions: {
					position: google.maps.ControlPosition.TOP_RIGHT
				},
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE,
					position: google.maps.ControlPosition.RIGHT_CENTER
				},
				scaleControl: true,
				streetViewControl: false,
			};
			// creamos el mapa con google maps y le pasamos el div id donde se va mostrar junto con las opciones del mapa definidas antes
			var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
			// heatmap propiedades y asignacion
			var heatmap = new HeatmapOverlay(map, {
				"radius":20,
				"visible":true, 
				"opacity":60
			});
			// dataset
			var dataSet= {
				max: #{max},
				data: !{JSON.stringify(data)}
			};
			google.maps.event.addListenerOnce(map, "idle", function(){
				// asignamos la data
				heatmap.setDataSet(dataSet);
			});
			// propiedades de los enlaces para que se vean
			$("#footer_left a").css("color","#ffffff");
			$("#footer_right a").css("color","#ffffff");
			$("#footer_right .font").css("color","#ffffff");
		}