extends ../layout

block content
	.back
		a(href="javascript:history.back()")
			img(src="images/back.png")
	#footer_data_heatmap
		- if (type == 'frequency')
			table.paragraphText3(cellspacing="5")
				tr
					td(align="right")	
						b	Frequency range:
					td(align="left")		[#{from}, #{to}] Mhz.
				tr
					td(align="right")		
						b	Zone:
					td(align="left")	#{zona}.
				tr
					td(align="right")		
						b	Max Value:
					td(align="left")	#{max_to_show} dBm.
				tr
					td(align="right")		
						b	Function:
					td(align="left")	#{typeHeatmap}			
			input(id="heatmap_title_pdf", name="ipt_umbral", type="hidden", value="Frequency range: [#{from}, #{to}] Mhz, Zone: #{zona}, Max Value: #{max_to_show} dBm, Function: #{typeHeatmap}")
		- else if (type == 'channel')
			table.paragraphText3(cellspacing="5")
				tr
					td(align="right")	
						b	Frequency range:
					td(align="left")		By channels.
				tr
					td(align="right")		
						b	Zone:
					td(align="left")	#{zona}.
				tr
					td(align="right")		
						b	Max Value:
					td(align="left")	#{max_to_show} dBm.
				tr
					td(align="right")		
						b	Function:
					td(align="left")	#{typeHeatmap}			
			input(id="heatmap_title_pdf", name="ipt_umbral", type="hidden", value="Frequency range: by channels, Zone: #{zona}, Max Value: #{max_to_show} dBm, Function: #{typeHeatmap}")
	.left-side-screen-csv-download
		a(href="/download-csv-data", id="download-csv-data")
			img(src="images/download_csv_file.png",id="download_csv_heatmap")
		a(href="javascript:void(0)", id="generate_pdf_heatmap")
			img(src="images/download_pdf_file.png")
	#map-canvas
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
	script(type='text/javascript').

		window.onload = function(){
			// definimos las propiedades del mapa
			var mapOptions = {
				zoom: 13,
				// coordenada donde se centrara el mapa
				center: new google.maps.LatLng(#{lat},#{lng}),
				mapTypeId: google.maps.MapTypeId.SATELLITE,
				
				mapTypeControl: true,
				
				panControl: true,
				panControlOptions: {
					position: google.maps.ControlPosition.TOP_RIGHT
				},
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE,
					position: google.maps.ControlPosition.RIGHT_CENTER
				},
				scaleControl: true,
				streetViewControl: false,
			};
			// creamos el mapa con google maps y le pasamos el div id donde se va mostrar junto con las opciones del mapa definidas antes
			var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
			// heatmap propiedades y asignacion
			var heatmap = new HeatmapOverlay(map, {
				"radius":5,
				"visible":true, 
				"opacity":60
			});
			// dataset
			var dataSet= {
				max: #{max},
				data: !{JSON.stringify(data)}
			};
			google.maps.event.addListenerOnce(map, "idle", function(){
				heatmap.setDataSet(dataSet);
			});
	
			// propiedades de los enlaces para que se vean
			$("#footer_left a").css("color","#ffffff");
			$("#footer_right a").css("color","#ffffff");
			$("#footer_right .font").css("color","#ffffff");
		}
		
		$(document).ready(function(){
			$("#generate_pdf_heatmap").click(function(){
					
				html2canvas(document.getElementById('map-canvas'), {
					useCORS: true,
					onrendered: function(canvas) {				
						$.ajax({
							type: 'post',
							url: '/generate-pdf-of-heatmap',
							data: {title:$("#heatmap_title_pdf").val(), img:canvas.toDataURL()},
							beforeSend: function(){
								$("#bowlG").show();
							},
							success: function(res){
								$("#bowlG").hide();
								if(res == '0')
									window.location.href ="/download-pdf-of-heatmap";
							}
						});
					}
				});				
			});
		});