extends ../layout

block content
	.back
		a(href="ocupation?zona=#{zona}&ipt_umbral=#{umbral}&allocation=#{allocation}")
			img(src="images/back.png")
	.top-center-screen
		center
			h1(class="insetType", style="font-size:16px, aling-text:center")	Select Channel
	#chart-left-side-screen
		.font(style="font-size:25px;font-weight:100") Parameters
		br
		.font(style="font-size:15px;font-weight:100") Threshold: #{umbral}
		.font(style="font-size:15px;font-weight:100") Zone: #{zona}
	.center-screen
		form(class="font", action="form_select_channel", method="GET")
			center
				input(name="ipt_umbral", type="hidden", value="#{umbral}")
				input(name="zona", type="hidden", value="#{zona}")