extends ../layout

block content
	.back
		a(href="ocupation?zona=#{zona}&ipt_umbral=#{umbral}")
			img(src="images/back.png")
	.top-center-screen
		center
			h1(class="insetType", style="font-size:16px, aling-text:center")	Select Frequency
	#chart-left-side-screen
		.font(style="font-size:25px;font-weight:100") Parameters
		br
		.font(style="font-size:15px;font-weight:100") Threshold: #{umbral}
		.font(style="font-size:15px;font-weight:100") Zone: #{zona}
	.center-screen
		form(class="font", action="form_select_frequency", method="GET")
			center
				input(name="ipt_umbral", type="hidden", value="#{umbral}")
				input(name="zona", type="hidden", value="#{zona}")
				table
					tr
						td
							pre(style="font-size:25px;font-weight:100") From 
						td
							input(id="from_frequency", name="from_frequency", autocorrect="on", class="ipt_zones border_user ipt_font_big", type="text", value="", alt="You must enter a frequency")
						td
							pre(style="font-size:25px;font-weight:100")  Mhz
					tr
						td
							pre
								pre(style="font-size:25px;font-weight:100") To
						td
							input(id="to_frequency", name="to_frequency", autocorrect="on", class="ipt_zones border_user ipt_font_big", type="text", value="", alt="You must enter a frequency")
						td
							pre(style="font-size:25px;font-weight:100")  Mhz
				br
				br
				.button_wrapper(align="center")
					.button_underneath(style="width:162px;height:14px")
						input(id="select-frequency-enviar", type="submit", value="HeatMap", class="button", style="width:200px;height:40px;padding-top:6px")
		br
		br
		br
		.error	