extends ../layout

block content
	.back 
		a(href="javascript:history.back()")
			img(src="images/back.png")
	.top-center-screen
		center
			span.largeHeadline	Select Frequency
	.parameters-left-side-screen
		.middleHeadline Parameters
		table.paragraphText(cellspacing="8")
			tr
				td	
					b	Threshold:
				td	#{umbral}
			tr
				td	
					b	Zone: 
				td	#{zona}		
			tr
				td(colspan="2")	
					b	Frequency:
			tr
				td	min: #{min}
				td	max: #{max}
			tr
				td(colspan = "2",align="left") 
					br
					b	#{allocation}
		br
	form(class="font", action="form_select_frequency", method="GET")			
		.parameters-left-side-screen
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			table.paragraphText(cellspacing="8")
				tr
					td(colspan = "2",align="center")
						b	Heatmap settings:
				tr
					td	Min count:
					td	
						input(id="min_count", name="min_count", autocorrect="on", class="ipt_heatmap_settings border_top_6 border_bottom_6", type="text", value="1")
				tr
					td	Radius:
					td	
						input(id="radius", name="radius", autocorrect="on", class="ipt_heatmap_settings border_top_6 border_bottom_6", type="text", value="5")
				tr
					td	Opacity:
					td	
						input(id="opacity", name="opacity", autocorrect="on", class="ipt_heatmap_settings border_top_6 border_bottom_6", type="text", value="60")
				tr
					td(colspan = "2",align="center")
						b	Map showing settings: 
				tr
					td
						input(type="radio", name="map_showing_settings", id="radio6", class="css-checkbox", checked="checked", value="google.maps.MapTypeId.SATELLITE")
						label(for="radio6", class="css-label2")	Satellite
					td
						input(type="radio", name="map_showing_settings", id="radio7", class="css-checkbox", value="google.maps.MapTypeId.ROADMAP")
						label(for="radio7", class="css-label2")	Street
		.center-screen-cvs-download
			center
				table
					tr
						td(align="center", colspan="2")
							input(id="umbral_ipt_hidden", name="ipt_umbral", type="hidden", value="#{umbral}")
							input(id="zona_ipt_hidden", name="zona", type="hidden", value="#{zona}")
							input(id="min_ipt_hidden", name="min", type="hidden", value="#{min}")
							input(id="max_ipt_hidden", name="max", type="hidden", value="#{max}")
							table
								tr
									td(align="center", colspan="2")
										pre(style="font-size:16px;")	between [#{min},#{max}]
								tr
									td
										pre(style="font-size:25px") From 
									td
										input(id="from_frequency", name="from_frequency", autocorrect="on", class="ipt_frequency border_top_6", type="text", value="", alt="You must enter a frequency")
									td
										pre(style="font-size:25px")  Mhz
			
								tr
									td
										pre(style="font-size:25px") To
									td
										input(id="to_frequency", name="to_frequency", autocorrect="on", class="ipt_frequency border_bottom_6", type="text", value="", alt="You must enter a frequency")
									td
										pre(style="font-size:25px")  Mhz
					tr
						td(align="center",style="padding-right:20px")		
							br	
							br
							.paragraphText2 please select the function <br>to operate on the data
							br
							table(cellspacing="15", width="348")
								tr
									td
										input(type="radio", name="type_heatmap", id="radio4", class="css-checkbox", checked="checked", value="Max Value")
										label(for="radio4", class="css-label")	Max Value
									td
										input(type="radio", name="type_heatmap", id="radio5", class="css-checkbox", value="Average")
										label(for="radio5", class="css-label")	Average(X&#772)
							br
							.button_wrapper(align="center")
								.button_underneath(style="width:162px;height:14px")
									input(id="select-frequency-enviar", type="submit", value="Show Heatmap", class="button", style="width:200px;height:40px;padding-top:6px")
						td(align="center", valign="middle")
							a(href="javascript:void(0)", id="generate-csv-to-heatmap")
								img(src="images/myheatmap.png")							
				br
				br
				br
				.error	#{error}